body{
	background-color: rgb(254,219,65);
	font-weight: bold;
	font-family: Arial;
	text-align: center;
}
.centro{
	width: 800px;
	height: 500px;
	margin: auto;

}

.titulo{
	color: rgb(34,64,153);
	font-weight: bold;
	font-size: 30px;
	text-align: center;
}
input{
	outline: none;
	margin-top: 10px;
	border-top-style: solid;
	border: none;
	border-bottom: 2px solid rgb(34,64,153);
	background: transparent;
	font-size: 15px;
	height: 30px;
	margin-right: 10px;
	margin-left: 10px;
}
input:hover{
	font-weight: bold;
	-webkit-transform: scale(1.1);
  	-moz-transform: scale(1.1);
  	-o-transform: scale(1.1);
  	-ms-transform: scale(1.1);
 	 transform: scale(1.1);
	-moz-transition: all 0.1s;
	-webkit-transition: all 0.1s;
	transition: all 0.1s;
	cursor: pointer;
}

form{
	color: rgb(34,64,153);
	margin-left: 150px;	
}

#botao, 
#botao_menu{
	background-color: rgb(34,64,153);
	border-style: none;
	border-radius: 5px;
	color: rgb(254,219,65);
	font-weight: bold;
	cursor: pointer;
	height: 30px;
	margin-top: 10px;
}
#botao:hover,
#botao_menu:hover{
	font-weight: bold;
	-webkit-transform: scale(1.1);
  	-moz-transform: scale(1.1);
  	-o-transform: scale(1.1);
  	-ms-transform: scale(1.1);
 	 transform: scale(1.1);
	-moz-transition: all 0.1s;
	-webkit-transition: all 0.1s;
	transition: all 0.1s;
	cursor: pointer;
}

